<div class="header">
  <div class="header__hamburger" (click)="toggleMenu()">
    <mat-icon class="material-symbols-outlined">menu</mat-icon>
  </div>

  <div class="header__logo">
    <img src="../../../assets/indentidad/SHBG_Logo.png" alt="Logo SHBG">
  </div>

  <div class="header__menu" *ngIf="sharedService.menuVisible">
    <ng-container *ngFor="let item of menuItems">
      <ng-container>
        <div class="item">
          <a *ngIf="item.command; Else Submenu" (click)="item.command()" class="menu-link">{{ item.label }}</a>

          <ng-template #Submenu>
            <a class="menu-link">{{ item.label }}</a>
          </ng-template>

          <!-- Submenús -->
          <div *ngIf="item.children" class="submenu">
            <ng-container *ngFor="let subItem of item.children">
              <ng-container>
                <a (click)="subItem.command()" class="submenu-link">
                  {{ subItem.label }}
                </a>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>


  <!-- Mobile menu -->
  <div id="mobileMenu" class="header__mobile-menu">
    <div class="gobIconBtn contrast" (click)="toggleMenu()">
      <mat-icon class="material-symbols-outlined">cancel</mat-icon>
    </div>

    <span style="display: flex; gap: 10px;">
      <div *ngIf="getPicture() != null && getPicture() != ''">
        <img [src]="getPicture()" style="width: 40px; height: 40px; border-radius: 100%; background-color: white;" alt="Foto Personal">
      </div>
      <p *ngIf="getPicture() == null || getPicture() == ''" class="letter">
        {{User}}
      </p>
      <p class="user" style="color: white; font-weight: bold;">HOLA {{User}}</p>
    </span>

    <a (click)="toggleMenu()" class="menu-link is-active" href="#">Inicio</a>
    
    <ng-container *ngFor="let item of menuItems">
      <ng-container *ngIf="item.children; else noChildren">
        <div class="menu-item-with-children">
          <a class="menu-link" (click)="toggleMenu()">{{ item.label }}</a>
          <div class="submenu">
            <ng-container *ngFor="let subItem of item.children">
              <a (click)="toggleMenu(); subItem.command()" class="submenu-link">{{ subItem.label }}</a>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <ng-template #noChildren>
        <a *ngIf="item.command; Else NoCommand;" (click)="toggleMenu(); item.command()" class="menu-link">{{ item.label
          }}</a>
        <ng-template #NoCommand>
          <a (click)="toggleMenu();" class="menu-link">{{ item.label }}</a>
        </ng-template>
      </ng-template>
    </ng-container>
    <br>
    <a (click)="toggleMenu()" class="menu-link" href="#">Salir</a>
  </div>

  <!-- Display picture and name -->
  <div id="profileDet" class="header__profile-data" *ngIf="sharedService.menuVisible">
    <div *ngIf="getPicture() != null && getPicture() != ''">
      <img [src]="getPicture()" style="width: 40px; height: 40px; border-radius: 100%;" alt="Foto Personal">
    </div>
  
    <p class="user">¡BIENVENIDO {{User}}!<mat-icon class="material-symbols-outlined">arrow_drop_down</mat-icon></p>

    <div class="header__profile-data__profile-detail" *ngIf="showProfileDetail==true">
      <button class="detail-btn">
        <mat-icon class="material-symbols-outlined" (click)="viewProfile()" >person</mat-icon>Mi perfil
      </button>
      <button class="detail-btn" (click)="logOut()">
        <mat-icon class="material-symbols-outlined">logout</mat-icon>Cerrar sesión
      </button>
    </div>
  </div>
</div>