
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$gobstyle: (
  50: #f8f6f3,
  100: #eee7e0,
  200: #e2d8cc,
  300: #d6c8b8,
  400: #cebca8,
  500: #c5b099,
  600: #bfa991,
  700: #b8a086,
  800: #b0977c,
  900: #a3876b,
  A100: #ffffff,
  A200: #fff3e8,
  A400: #ffd9b5,
  A700: #ffcc9b,
  contrast: (50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: black,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: black,
    A700: black)
);

/* For use in src/lib/core/theming/_palette.scss */
$gobalt: (
  50 : #efe3e5,
  100 : #d7b9bf,
  200 : #bc8a95,
  300 : #a15b6a,
  400 : #8d374a,
  500 : #79142a,
  600 : #711225,
  700 : #660e1f,
  800 : #5c0b19,
  900 : #49060f,
  A100 : #ff7e89,
  A200 : #ff4b5a,
  A400 : #ff182c,
  A700 : #fd0016,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$SADIG-primary: mat.define-palette($gobstyle);
$SADIG-accent: mat.define-palette($gobalt);

// The warn palette is optional (defaults to red).
$SADIG-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$SADIG-theme: mat.define-light-theme((
  color: (
    primary: $SADIG-primary,
    accent: $SADIG-accent,
    warn: $SADIG-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($SADIG-theme);

/* You can add global styles to this file, and also import other style files */

///////////////////////////////////////////
// Declaración de colores generales
:root {
  --primary: #C5B099;
  --secundary: #F5F5F5;
  --primaryAlt: #C9B98D;
  --secundaryAlt: #9B9D9A;
  --terciary: #79142A;
  --fontNormal: #60595D;
  --fontContrast: #f0f0f0;
  --alternative: #324b60;
  --primaryBlue: #0259bd;
  --primaryBlueBackground: rgba(2, 89, 189, 0.2);
  --primaryPurple: #70069e;
  --primaryPurpleBackground: rgba(112, 6, 158, 0.2);
  --primaryGreen: #02bd54;
  --primaryGreenBackground: rgba(2, 189, 84, 0.2);
  --primaryYellow: #F8BA43;
  --primaryYellowBackground: rgba(248, 186, 67, 0.2);
  --primaryOrange: #f87c43;
  --primaryOrangeBackground: rgba(248, 124, 67, 0.2);
  --primaryRed: #D94555;
  --primaryRedBackground: rgba(217, 69, 85, 0.2);

  --globalRadius: 10px;
}

///////////////////////////////////////////
// Configuración general para scrollbar
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--fontNormal);

  &::-webkit-scrollbar {
    width: 5px;
    height: 0px;
    background: white;
    border-radius: 0;
    transition: 0.5s ease;

    &:hover {
      width: 5px;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--alternative);
    border-radius: 10px;
  }
}

///////////////////////////////////////////
// Configuración general para body
html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("./assets/indentidad/patron_fondo.png");
}

img {
  width: 100%;
  height: 100%;
}

input[type="password"].no-password-toggle::-ms-reveal,
input[type="password"].no-password-toggle::-ms-clear {
  display: none;
}

mat-icon {
  vertical-align: middle !important;
  height: auto !important;
  width: auto !important;
  transition: 0.5s;
  color: var(--primary) !important;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
  background-color: white;
}

.mat-input-element {
  color: var(--primary);
}

///////////////////////////////////////////
// Estilo de tooltip
[data-title] {
  position: relative;
  display: inline-block; /* Asegura compatibilidad con contenido inline */
  cursor: help; /* Indica al usuario que es interactivo */
}

[data-title]:after {
  content: attr(data-title);
  background-color: var(--primary) !important;
  color: var(--secundary);
  font-size: 0.9rem; /* Ajuste de tamaño para una apariencia más refinada */
  font-weight: bold;
  position: absolute;
  padding: 5px 15px; /* Espaciado más equilibrado */
  bottom: 120%; /* Mayor separación entre el tooltip y el elemento */
  left: 50%; /* Centra el tooltip */
  transform: translateX(-50%); /* Alinea visualmente con el elemento */
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3); /* Más sutil y elegante */
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
  border-radius: 6px; /* Bordes más suaves */
  white-space: nowrap; /* Evita que el texto se desborde */
  pointer-events: none; /* Evita la interacción con el tooltip */
}

[data-title]:hover:after {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Animaciones más suaves */
  transform: translateX(-50%) translateY(-5px); /* Efecto de desplazamiento al aparecer */
}

///////////////////////////////////////////
// Estilo de secciones
.container {
  background-color: var(--secundary);
  border-radius: .375rem;
  padding: 20px;
}

.gob-upload-file-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;

  #file {
    display: none;
    /* Oculta el input real */

    &+label {
      display: inline-block;
      padding: 10px 20px;
      background-color: var(--primary);
      color: white;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        animation: pulse 1s;
        box-shadow: 0 0 0 2em transparent;
        filter: brightness(0.7);
      }

      &:active {
        filter: brightness(0.7);
      }
    }
  }

  label {
    margin-left: 10px;
  }
}

.gobTable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  th {
    background-color: white;
  }

  th,
  td {
    padding: 10px;
  }
}

///////////////////////////////////////////
// Estilo de boton y variantes
.gobBtn {
  height: 30px;
  padding: 0 10px;
  border-radius: .375rem;
  outline: none !important;
  border: none !important;
  transition: 0.5s;
  white-space: nowrap;
  cursor: pointer;

  font: {
    size: 1rem;
    weight: bold;
  }

  &:hover,
  &:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
    filter: brightness(0.7);
  }

  // Botón redondo
  &.rndBtn {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  &.base {
    background-color: var(--primary);
    color: white;
  }

  &.altern {
    background-color: var(--secundary);
    color: var(--textNormal);
    border: 1px solid var(--primary) !important;
  }

  &.dark {
    background-color: var(--terciary);
    color: white;
  }

  &[disabled] {
    background-color: #5E4F4F;
    color: #999999;
    cursor: not-allowed;
  }
}

.gobIconBtn {
  transition: 0.5s;
  cursor: pointer;

  &:hover,
  &:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
    filter: brightness(0.7);
  }

  &.base {
    color: var(--primary) !important;
  }

  &.altern {
    color: var(--secundary) !important;
  }

  &.dark {
    color: var(--terciary) !important;
  }

  &.contrast {
    color: var(--fontNormal) !important;
  }

  &[disabled] {
    color: #5E4F4F !important;
    cursor: not-allowed;
  }
}

